<div class="col mb-2">
  <label>Filter City: &nbsp; </label>
  <input [(ngModel)]='City' class="mr-2">
  <button class="btn btn-dark mr-2" type="button" (click)="onCityFilter()">Search</button>
  <button class="btn btn-secondary" type="button" (click)="onCityFilterClear()">Clear</button> &nbsp;

  <label>Sort by &nbsp;</label>
  <select  [(ngModel)] = 'SortbyParam' >
    <option value="City" >City</option>
    <option value="Price">Price</option>
  </select>
  <button class="btn btn-info ml-2" style="color:white" type="button" (click) = "onSortDirection()">
    <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down" ></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
  </button>
</div>


<div class="row">
  <div *ngFor="let property of properties|filter:SearchCity:'City'|sort:[SortbyParam,SortDirection]"
  class="col-sm-4">
    <div class="shadow-lg p-3 mb-4">
        <app-property-card [property]="property"></app-property-card>
    </div>
</div>
</div>
