<div class="card">
  <div class="card-header">Add New Property</div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group col-12">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          #propName="ngModel"
          ngModel
          name="Name"
          required
          minlength="4"
        />
        <span *ngIf="!propName.valid && propName.touched " class="error-block">
          <span *ngIf="propName.hasError('required')">Name is Required</span>
          <span *ngIf="propName.hasError('minlength')">Name must be longer than 4 characters</span>

        </span>
      </div>
      <div class="form-group col-12">
        <label for="type">Type</label>
        <input type="text" class="form-control" ngModel name="Type" required />
      </div>
      <div class="form-group col-12">
        <label for="price">Price</label>
        <input type="text" class="form-control" ngModel name="Price" required />
      </div>
      <div class="form-group col-12">
        <button

          type="submit"
          class="btn btn-primary mr-2"
        >
          Save
        </button>
        <button type="reset" class="btn btn-primary">Cansel</button>
      </div>
    </form>
  </div>
</div>
